<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column">
  <p>{{ contentText }}</p>
  <img src="{{ urlImg }}">
  <input
    type="hidden"
    name="backToLoginUrl"
    value="{{ backToLoginUrl }}">
</div>
