version: "3"

services:
  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - "db:/var/lib/mysql"
    ports:
      - 3306:3306

  redis:
    image: redis:alpine
    ports:
      - 6379:6379

  jobTableDb:
    image: mariadb:5.5
    environment:
      MYSQL_ROOT_PASSWORD: ${JOB_TABLE_PASSWORD}
    volumes:
      - jobtabledb:/var/lib/mysql
    ports:
      - 3307:3306

  ldap:
    image: ldaptest
    build:
      dockerfile: scripts/ldap/Dockerfile
    ports:
      - 389:389
    volumes:
      - ldap:/var/lib/ldap

networks:
  default:
    name: scow

volumes:
  db:
  ldap:
  jobtabledb:
    name: jobtabledb
