authType: ldap

redisUrl: localhost:6379

allowedCallbackHostnames:
  - localhost

#目前仅支持ldap认证方式启用otp，ssh方式不支持
otp:
  #status指定otp状态，分别为disabled:不启用,ldap：密钥存于ldap，remote：启用密钥存在远程。默认为disabled
  type: disabled
  ldap:
    #限制绑定otp要在多久时间内完成，需要整数，默认10
    timeLimitMinutes: 10
    #密钥存储属性名
    secretAttributeName: title
    #认证系统地址，例如：http://localhost:5000
    authUrl: http://localhost:5000
    #绑定otp时发送绑定信息方式
    authenticationMethod:
      mail:
        #发件邮箱地址
        from: "morgan68@ethereal.email"
        #发送邮件频率限制，需要整数，单位秒，默认60秒间隔
        sendEmailFrequencyLimitInSeconds: 20
        #邮件主题，默认为"otp绑定链接"
        subject: "otp绑定链接"
        #邮件内容标题，默认为"Bind OTP""
        title: "Bind OTP"
        #邮件内容,默认为"Please click on the following link to bind your OTP:"
        contentText: "Please click on the following link to bind your OTP"
        #标签点击文字,默认为"Bind OTP"
        labelText: "Bind OTP"
        mailTransportInfo:
          #SMTP服务器
          host: "smtp.ethereal.email"
          #是否启用安全连接，默认false
          secure: false
          #服务器端口
          port: 587
          #SMTP身份验证用户名
          user: "morgan68@ethereal.email"
          #SMTP身份验证授权码
          password: "y2es3bd3rYwxWs5n8g"
  #如果mode指定为remote，需要配置以下内容
  remote:
    #远程验证url，详见https://pkuhpc.github.io/SCOW/docs/deploy/config/auth/config
    validateUrl: http://localhost:9999/otp/remote/validateCode
    #当用户点击绑定OTP时跳转的链接, 建议是绑定OTP的网站或者说明的地址
    redirectUrl: https://pkuhpc.github.io/SCOW/docs/deploy/config/auth/config

captcha:
  enabled: true

ldap:
  url: ldap://localhost:389
  bindDN: cn=Manager,ou=hpc,o=pku
  bindPassword: admin
  searchBase: ou=hpc,o=pku
  userFilter: (uid=*)
  addUser:
    userBase: "ou=People,ou=hpc,o=pku"
    userIdDnKey: cn

    groupStrategy: "newGroupPerUser"
    newGroupPerUser:
      groupBase: "ou=Group,ou=hpc,o=pku"
      groupIdDnKey: cn
    oneGroupForAllUsers:
      gidNumber: 1000

    extraProps:
      # test overriding existing property
      mail: mail is {{ mail }}
  attrs:
    uid: uid
    name: cn
    mail: mail

ssh:
  baseNode: localhost:22222
