redisUrl: localhost:6379
authType: ldap

ldap:
  url: ldap://localhost:389
  bindDN: cn=Manager,ou=hpc,o=pku
  bindPassword: admin
  searchBase: ou=hpc,o=pku
  userFilter: (uid=*)
  addUser:
    userBase: "ou=People,ou=hpc,o=pku"
    userIdDnKey: cn

    groupStrategy: "newGroupPerUser"
    newGroupPerUser:
      groupBase: "ou=Group,ou=hpc,o=pku"
      groupIdDnKey: cn
    oneGroupForAllUsers:
      gidNumber: 1000

    extraProps:
      # test overriding existing property
      mail: mail is {{ mail }}
  attrs:
    uid: uid
    name: cn
    mail: mail

ssh:
  baseNode: localhost:22222
