authType: ldap

redisUrl: localhost:6379

allowedCallbackHostnames:
  - localhost

# ldap认证支持绑定和验证otp，ssh认证仅支持验证
otp:
  # 是否启用otp功能， 默认false
  enabled: false
  # status指定otp状态，分别为 ldap：密钥存于ldap，remote：密钥您自己管理。
  type: ldap
  ldap:
    # 限制绑定otp要在多久时间内完成，需要整数，默认10
    bindLimitMinutes: 10
    # 密钥存储属性名
    secretAttributeName: title
    # scow系统访问地址ip或域名(不需要填写scow的base path)，例如：http://localhost:5000
    scowHost: http://localhost:5000
    # 绑定otp时发送绑定信息方式
    authenticationMethod:
      mail:
        # 发件邮箱地址
        from: "morgan68@ethereal.email"
        # 发送邮件频率限制，需要整数，单位秒，默认60秒间隔
        sendEmailFrequencyLimitInSeconds: 20
        # 邮件主题，默认为"otp绑定链接"
        subject: "otp绑定链接"
        # 邮件内容标题，默认为"Bind OTP"，也可以是html标签
        title: "Bind OTP"
        # 邮件内容,默认为"Please click on the following link to bind your OTP:"，也可以是html标签
        contentText: "Please click on the following link to bind your OTP"
        # 标签点击文字,默认为"Bind OTP",
        labelText: "Bind OTP"
        mailTransportInfo:
          # SMTP服务器
          host: "smtp.ethereal.email"
          # 是否启用安全连接，默认false
          secure: false
          # 服务器端口
          port: 587
          # SMTP身份验证用户名
          user: "morgan68@ethereal.email"
          # SMTP身份验证授权码
          password: "y2es3bd3rYwxWs5n8g"
  # 如果mode指定为remote，需要配置以下内容
  remote:
    # 远程验证url，详见https://pkuhpc.github.io/OpenSCOW/docs/deploy/config/auth/config
    validateUrl: http://localhost:9999/otp/remote/validateCode
    # 当用户点击绑定OTP时跳转的链接, 建议是绑定OTP的网站或者说明的地址
    redirectUrl: https://pkuhpc.github.io/OpenSCOW/docs/deploy/config/auth/config

captcha:
  enabled: true

ldap:
  url: ldap://localhost:389
  bindDN: cn=Manager,ou=hpc,o=pku
  bindPassword: admin
  searchBase: ou=hpc,o=pku
  userFilter: (uid=*)
  addUser:
    userBase: "ou=People,ou=hpc,o=pku"
    userIdDnKey: cn

    groupStrategy: "newGroupPerUser"
    newGroupPerUser:
      groupBase: "ou=Group,ou=hpc,o=pku"
      groupIdDnKey: cn
    oneGroupForAllUsers:
      gidNumber: 1000

    extraProps:
      # test overriding existing property
      mail: mail is {{ mail }}
  attrs:
    uid: uid
    name: cn
    mail: mail

ssh:
  baseNode: localhost:22222

# auth 界面 ui 配置
ui:
  default:
    # 登录界面背景图
    backgroundImagePath: "./assets/background.png"

    # 登录界面背景色，当背景图无法加载时，背景色起效
    backgroundFallbackColor: "#8c8c8c"

    # 登录界面 logo 图,
    logo:
      # 如果没有配置自定义 logo, 则使用 type 选择 SCOW Logo
      # light: 亮色模式下的 logo, dark: 黑暗模式下的 logo
      scowLogoType: "dark"
      # 自定义 logo, 默认为空
      customLogoPath: ""
      # 自定义点击 logo 跳转地址
      customLogoLink: "https://icode.pku.edu.cn/SCOW/"

    # 登录界面 slogan 配置
    slogan:
      # 登录界面 slogan 文字颜色
      color: "white"
      # 登录界面 slogan title
      title: "开源算力中心门户和管理平台"
      # title:
      #   i18n:
      #     default: "开源算力中心门户和管理平台"
      #     zh_cn: "开源算力中心门户和管理平台"
      # 多条 slogan 文本
      texts:
        - "图形化界面，使用方便"
        - "功能丰富，管理简单"
        - "一体化部署，开箱即用"
        - "标准化平台，支持算力融合"
        - "开源中立，独立自主"
      #   texts:
      #     - i18n:
      #         default: "图形化界面，使用方便"
      #         en: "Graphical user interface, user-friendly"
      #         zh_cn: "图形化界面，使用方便"
      #     - i18n:
      #         default: "功能丰富，管理简单"
      #         en: "Feature-rich, easy management"
      #         zh_cn: "功能丰富，管理简单"
      #     - i18n:
      #         default: "一体化部署，开箱即用"
      #         en: "Integrated deployment, ready to use out of the box"
      #         zh_cn: "一体化部署，开箱即用"
      #     - i18n:
      #         default: "标准化平台，支持算力融合"
      #         en: "Standardized platform, supporting compute integration"
      #         zh_cn: "标准化平台，支持算力融合"
      #     - i18n:
      #         default: "开源中立，独立自主"
      #         en: "Open-source neutrality, independent and autonomous"
      #         zh_cn: "开源中立，独立自主"
      #     - i18n:
      #         default: "体验账号/密码如下，欢迎试用体验SCOW各项功能"
      #         en: "Trial account details are as follows; you are welcome to try and experience the functionalities of SCOW."
      #         zh_cn: "体验账号/密码如下，欢迎试用体验SCOW各项功能"
      #     - i18n:
      #         default: "管理员：demo_admin / demo_admin"
      #         en: "Administrator: demo_admin / demo_admin"
      #         zh_cn: "管理员：demo_admin / demo_admin"
      #     - i18n:
      #         default: "普通用户：demo_user / demo_user"
      #         en: "Regular User: demo_user / demo_user"
      #         zh_cn: "普通用户：demo_user / demo_user"

    # 登陆界面底部 Power By 字体颜色配置
    footerTextColor: "white"

  # 根据不域名进行不同的展示，对具体hostname生效的生效，可以不填
  # hostnameMap:

  #   a.com:
  #     # 登录界面背景图
  #     backgroundImagePath: "./assets/background1.png"

  #     # 登录界面背景色，当背景图无法加载时，背景色起效
  #     backgroundFallbackColor: "#000"

  #     # 登录界面 logo 图,
  #     logo:
  #       # 如果没有配置自定义 logo, 则使用 type 选择 SCOW Logo
  #       # light: 亮色模式下的 logo, dark: 黑暗模式下的 logo
  #       scowLogoType: "light"
  #       # 自定义 logo, 默认为空
  #       customLogoPath: ""
  #       # 自定义点击 logo 跳转地址
  #       customLogoLink: "https://icode.pku.edu.cn/SCOW/"

  #     # 登录界面 slogan 配置
  #     slogan:
  #       # 登录界面 slogan 文字颜色
  #       color: "black"
  #       # 登录界面 slogan title
  #       title: "开源算力中心门户和管理平台"
  #       # 多条 slogan 文本
  #       texts:
  #         - "图形化界面，使用方便."
  #         - "功能丰富，管理简单."
  #         - "一体化部署，开箱即用."
  #         - "标准化平台，支持算力融合."
  #         - "开源中立，独立自主."

  #     # 登陆界面底部 Power By 字体颜色配置
  #     footerTextColor: "black"
