.env
config
/docker-compose.json
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/scow-deployment.iml
/.idea/vcs.xml
/db.sh
/config.py.bak
/test.json
/config.py
/__pycache__