name: Test, Build and Publish Projects

on:
  workflow_dispatch:
  push:
    branches:
      - master

env:
  GITHUB_CR: ghcr.io
  ALIYUN_CR: registry.cn-hangzhou.aliyuncs.com
  ALIYUN_PROJECT_NAME: scow

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7.0.1

      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Prepare dev libs and code
        run: pnpm prepareDev

      - name: Start dev env for db testing
        run: pnpm devenv

      - name: Check running containers
        run: docker ps

      - name: Generate SSH key pairs for test
        run: ssh-keygen -t rsa -q -f "$HOME/.ssh/id_rsa" -N ""

      - name: Run tests
        run: pnpm test:ci

      - name: Upload test converage
        uses: codecov/codecov-action@v3
        with:
          files: ./libs/auth/coverage/lcov.info,./libs/config/coverage/lcov.info,./libs/decimal/coverage/lcov.info,./apps/file-server/coverage/lcov.info,./apps/auth/coverage/lcov.info,./apps/job-server-slurm/coverage/lcov.info,./apps/mis-server/coverage/lcov.info

  build-file-server:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7.0.1
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Build file-server
        run: pnpm run --filter file-server... build

      - name: Archive file-server
        uses: actions/upload-artifact@v3
        with:
          name: file-server
          path: apps/file-server/build/file-server

  build-containers:
    needs: test

    permissions:
      contents: read
      packages: write

    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - name: gateway
            file: gateway
            build_args: ""

          - name: mis-server
            file: mis-server
            build_args: ""

          - name: job-server-slurm
            file: job-server-slurm
            build_args: ""

          - name: auth
            file: auth
            build_args: ""

          - name: clusterops-slurm
            file: clusterops-slurm
            build_args: ""

          - name: mis-web-root
            file: mis-web
            build_args: BASE_PATH=

          - name: mis-web-mis
            file: mis-web
            build_args: BASE_PATH=/mis

          - name: portal-web-root
            file: portal-web
            build_args: BASE_PATH=

          - name: portal-web-portal
            file: portal-web
            build_args: BASE_PATH=/portal

    steps:
      - uses: actions/checkout@v3

      - name: Log in to the GitHub Container registry
        uses: docker/login-action@d398f07826957cd0a18ea1b059cf1207835e60bc
        with:
          registry: ${{ env.GITHUB_CR }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to the Aliyun CR
        uses: docker/login-action@d398f07826957cd0a18ea1b059cf1207835e60bc
        with:
          registry: ${{ env.ALIYUN_CR }}
          username: ${{ secrets.ALIYUN_CR_USERNAME }}
          password: ${{ secrets.ALIYUN_CR_PASSWORD }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.GITHUB_CR }}/${{ github.repository }}/${{ matrix.name }}
            ${{ env.ALIYUN_CR }}/${{ env.ALIYUN_PROJECT_NAME }}/${{ matrix.name }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          build-args: ${{ matrix.build_args }}
          tags: ${{ steps.meta.outputs.tags }}
          file: dockerfiles/Dockerfile.${{ matrix.file }}
          labels: ${{ steps.meta.outputs.labels }}
