name: Test, Build and Publish Projects

on:
  workflow_dispatch:
  pull_request:
    branches: [master]
  push:
    branches:
      - master

env:
  GITHUB_CR: ghcr.io
  ALIYUN_CR: registry.cn-hangzhou.aliyuncs.com
  ALIYUN_PROJECT_NAME: scow

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2.2.2

      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm

      - name: Generate SSH key pairs for test
        run: ssh-keygen -t rsa -q -f "$HOME/.ssh/id_rsa" -N ""

      - name: Start dev env for db testing
        run: pnpm devenv

      - name: Check running containers
        run: docker ps

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Prepare dev libs and code
        run: pnpm prepareDev

      - name: Wait for ports
        uses: ifaxity/wait-on-action@master
        with:
          log: true
          verbose: true
          resource: "tcp:localhost:3306 tcp:localhost:6379 tcp:localhost:3307 tcp:localhost:389"

      - name: Run tests
        run: pnpm test:ci

      - name: Upload test converage
        uses: codecov/codecov-action@v3
        with:
          files: ./libs/auth/coverage/lcov.info,./libs/config/coverage/lcov.info,./libs/decimal/coverage/lcov.info,./apps/portal-web/coverage/lcov.info,./apps/auth/coverage/lcov.info,./apps/mis-server/coverage/lcov.info

  build-images:
    needs: test
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        include:
          - name: gateway
            file: gateway
            build_args: ""

          - name: mis-server
            file: mis-server
            build_args: ""

          - name: auth
            file: auth
            build_args: ""

          - name: mis-web-root
            file: mis-web
            build_args: BASE_PATH=

          - name: mis-web-mis
            file: mis-web
            build_args: BASE_PATH=/mis

          - name: portal-web-root
            file: portal-web
            build_args: BASE_PATH=

          - name: portal-web-portal
            file: portal-web
            build_args: BASE_PATH=/portal

    steps:
      - uses: actions/checkout@v3

      - name: Log in to the GitHub Container registry
        uses: docker/login-action@be010b42938448d8a286c21d5c4ccf2aae1524a1
        with:
          registry: ${{ env.GITHUB_CR }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to the Aliyun CR
        uses: docker/login-action@be010b42938448d8a286c21d5c4ccf2aae1524a1
        with:
          registry: ${{ env.ALIYUN_CR }}
          username: ${{ secrets.ALIYUN_CR_USERNAME }}
          password: ${{ secrets.ALIYUN_CR_PASSWORD }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.GITHUB_CR }}/${{ github.repository }}/${{ matrix.name }}
            ${{ env.ALIYUN_CR }}/${{ env.ALIYUN_PROJECT_NAME }}/${{ matrix.name }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          build-args: ${{ matrix.build_args }}
          tags: ${{ steps.meta.outputs.tags }}
          file: dockerfiles/Dockerfile.${{ matrix.file }}
          labels: ${{ steps.meta.outputs.labels }}
