name: Test, Build and Publish Projects

on:
  workflow_dispatch:
  pull_request:
    branches: [master]
  push:
    branches:
      - master

env:
  GITHUB_CR: ghcr.io
  # ALIYUN_CR: registry.cn-hangzhou.aliyuncs.com
  # ALIYUN_PROJECT_NAME: scow

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2.2.4

      - uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: pnpm

      - uses: bufbuild/buf-setup-action@v1
        with:
          version: "1.11.0"
          github_token: ${{ github.token }}

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Lint code
        run: pnpm lint

      - name: Generate SSH key pairs for test
        run: ssh-keygen -t rsa -q -f "$HOME/.ssh/id_rsa" -N ""

      - name: Start dev env for db testing
        run: pnpm devenv

      - name: Check running containers
        run: docker ps

      - name: Prepare dev libs and code
        run: pnpm prepareDev

      - name: Wait for ports
        uses: ifaxity/wait-on-action@master
        with:
          log: true
          verbose: true
          resource: "tcp:localhost:3306 tcp:localhost:6379 tcp:localhost:3307 tcp:localhost:389"

      - name: Run tests
        run: pnpm test:ci

      - name: Upload test converage
        uses: codecov/codecov-action@v3
        with:
          files: ./libs/auth/coverage/lcov.info,./libs/ssh/coverage/lcov.info,./libs/libconfig/coverage/lcov.info,./libs/decimal/coverage/lcov.info,./apps/auth/coverage/lcov.info,./apps/mis-server/coverage/lcov.info,./apps/portal-server/coverage/lcov.info

  build-images:
    needs: test
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        include:
          - name: gateway
            file: gateway
            build_args: ""

          - name: mis-server
            file: mis-server
            build_args: ""

          - name: portal-server
            file: portal-server
            build_args: ""

          - name: auth
            file: auth
            build_args: ""

          - name: mis-web-root
            file: mis-web
            build_args: BASE_PATH=

          - name: mis-web-mis
            file: mis-web
            build_args: BASE_PATH=/mis

          - name: mis-web-demo
            file: mis-web
            build_args: BASE_PATH=/demo/scow/mis

          - name: portal-web-root
            file: portal-web
            build_args: BASE_PATH=

          - name: portal-web-portal
            file: portal-web
            build_args: BASE_PATH=/portal

          - name: portal-web-demo
            file: portal-web
            build_args: BASE_PATH=/demo/scow

          - name: docs
            file: docs
            build_args: BASE_PATH=/SCOW/

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the GitHub Container registry
        uses: docker/login-action@bc135a1993a1d0db3e9debefa0cfcb70443cc94c
        with:
          registry: ${{ env.GITHUB_CR }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.GITHUB_CR }}/${{ github.repository }}/${{ matrix.name }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          build-args: ${{ matrix.build_args }}
          tags: ${{ steps.meta.outputs.tags }}
          file: dockerfiles/Dockerfile.${{ matrix.file }}
          labels: ${{ steps.meta.outputs.labels }}
          # only build arm64 in master commits
          platforms: linux/amd64${{ github.ref == 'refs/heads/master' && ',linux/arm64' || '' }}
